@import "./mixins";

// fonts
$font-family-400: AvenirNextLTPro, sans-serif;
$font-family-700: AvenirNextLTProBold, sans-serif;

// colors
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #fff;

$brainflix-darkblack: #000;
$brainflix-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
