@import "../../styles/sass/abstracts/variables";

.video-detail {
  padding: 32px 0 80px;
  border-right: 2px solid $mercury;
  &__title {
    margin-bottom: 16px;
    color: $brainflix-black;
  }
  &__info {
    padding: 0px 24px 8px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $mercury;
    &__item {
      display: flex;
      align-items: center;
      column-gap: 32px;
    }
  }
  &__subtitle {
    color: $brainflix-black;
  }
  &__time {
    color: $silver;
  }
  &__action {
    display: flex;
    align-items: center;
    column-gap: 8px;
    &__count {
      color: $silver;
    }
  }
  &__desc {
    padding: 24px 24px 48px 0;
  }
}
