@import "../../styles/sass/abstracts/variables";

.comment {
  padding: 24px 24px 24px 16px;
  border-top: 1px solid $mercury;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  @include breakpoint(1279px) {
    padding: 24px 0;
  }
  @include breakpoint(767px) {
    padding: 16px 0;
    gap: 16px;
  }
  &__content {
    width: calc(100% - 76px);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: $brainflix-black;
  }
  &__time {
    color: $silver;
  }
}
