@import "../../styles/sass/abstracts/variables";

.video-player {
  background-color: $brainflix-darkblack;
  &__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    @include breakpoint(767px) {
      margin: 0 -16px;
      width: calc(100% + 32px);
    }
  }
  &__video {
    width: 100%;
    max-width: 1106px;
    max-height: 617px;
    height: auto;
    object-fit: fill;

    aspect-ratio: auto 16 / 9;
    @include breakpoint(1279px) {
      max-width: none;
    }
  }
}
